.card {
  display: flex;
  padding: 0.5em;
  border: 1px solid black;
  margin: 1em 1em 0 1em;
  border-radius: 5px;
  transition: all ease 0.12s;
}
.card:hover {
  background-color: grey;
  transition: all ease 0.12s;
}
.car:hover img {
  opacity: 0.5;
}
.img-container {
  width:  120px;
  height: 120px;
  object-fit: cover;
}

.albumImg {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.description{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1em;
}

.title {
  cursor: pointer;
  margin: 0;
  font-size: 1.2em;
}

.albumText {
  cursor: pointer;
  margin-top: 0.5em;
}
