.btn {
  min-height: 44px;
  display: inline-block;
  background-color: var(--green);
  border: none;
  cursor: pointer;
  border-radius: 30px;
  color: #FFFFFF;
  transition: background-color 0.2s ease-in-out;
  padding: 10px 24px;
  font-size: 14.8px;
  font-weight: 500;
}

.btn--link {
  text-decoration: none;
}

.btn:hover {
  background-color: #24cf88;
}

.btn--secondary {
  color: var(--green);
  border: 1px solid var(--green);
  background-color: transparent;
}

.btn--text {
  color: var(--green);
  background-color: transparent;
  padding: 0;
  min-height: 0;
}

.btn--text:hover {
  background-color: transparent;
}

.btn--secondary:hover {
  background-color: #16af6f;
  color: #FFFFFF;
}