.btn {
  display: flex;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  color: white;
  background-color: green;
  padding: 1em 1.5em;
}
.btn-default {
  color: #fff;
  background-color: #15883e;
}
.btn-gray {
  color: #fff;
  background-color: #444;
}
.btn > svg {
  margin-right: 5px;
}
.btn:hover {
  opacity: 0.9;
}
