.searchContainer form {
  display: flex;
}
.input {
  color: white;
  padding: 1em;
  margin-right: 0.5em;
  min-width: 300px;
  border: none;
  border-radius: 50px;
  background-color: rgba(138, 138, 138, 0.5);
  outline: none;
}
